:root {
--color-bg: #FFF2E2; /* Champaigned Mist  */
--color-orange-light: #FF9622;
--color-orange-dark: #FF5E2B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scroll-margin-top: 90px;
}

body {
  min-height: 100svh;
  background: var(--color-bg);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
}

#app {
  height: 100svh;
  font-weight: normal;
  margin: 0 auto;
}

a {
  color: var(--color-orange-dark);
  border-radius: 4px;
  &:hover {
    background: rgba(255, 148, 43, 0.2);
  }
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 0;
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 4px;
}

.divider {
  border-left: 1px solid rgba(60, 60, 60, .12);
}

.orange-light {
  color: var(--color-orange-light);
  font-weight: bold;
}

.doodle-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-style: solid;
  border-width: 10px;
  border-image: url(/border-large.svg) 10 10 10 10 stretch stretch;
  background: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .doodle-box {
    padding: 20px;
  }
}

.doodle-divider {
  display: block;
  width: 60%;
  margin: 16px auto;
  opacity: 0.6;
}

.animated-border {
  padding: 16px;
	background: 
		linear-gradient(90deg, var(--color-orange-light) 50%, transparent 50%),
		linear-gradient(90deg, var(--color-orange-light) 50%, transparent 50%),
		linear-gradient(0deg, var(--color-orange-light) 50%, transparent 50%),
		linear-gradient(0deg, var(--color-orange-light) 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
	animation: movingBorder 8s linear infinite;
}

@keyframes movingBorder {
  0%   {background-position: 0px 0px, 200px 100%, 0px 200px, 100% 0px;}
  50%  {background-position: 200px 0px, 0px 100%, 0px 0px, 100% 200px;}
  100% {background-position: 0px 0px, 200px 100%, 0px 200px, 100% 0px;}
}