:root {
--color-bg: #FFF2E2; /* Champaigned Mist  */
--color-orange-light: #FF9622;
--color-orange-dark: #FF5E2B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scroll-margin-top: 90px;
}

body {
  background: var(--color-bg);
  min-height: 100svh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
}

#app {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  margin: 0 auto;
}

a {
  color: var(--color-orange-light);
  text-decoration: none;
  border-radius: 4px;
  &:hover {
    background: rgba(255, 148, 43, 0.2);
  }
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 0;
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 4px;
}

.divider {
  border-left: 1px solid rgba(60, 60, 60, .12);
}
